#wrap{
  width: 100%;
  height: 100%;
  background: url('../img/background.png') 0 0;
}

header{
background: url('../img/top_background.png') repeat-x 0 0;
}

.content{
  margin: 0 auto;
  width: 1000px;
  background: #ffffff;
}



header h1{
  color: #123D6B;
  font-size: 230%;
  height: 90px;
}
header h1 span{
  font-size: 90%;
}

.main-info{
  height: 120px;
  overflow: hidden;
  color: #ffffff;
}

.main-info .logo {
  margin: 5px 15px 0 10px;
}
.name {
  margin-top: 5%;
  font-size: 170%;
  line-height: 120%;
  font-weight: normal;
  text-transform: uppercase;
  color: #ffffff;
}
.name span{
  color: orange;
  font-size: 80%;
}

.telephones{
  font-size: 150%;
  margin-top: 1%;
}
.telephnes ul {}
.telephones li {
  margin-top: 3%;
  margin-bottom: 0;
}
.telephones span{
  font-size: 50%;
  margin-left: 5px;
  margin-top: 0;
}

.telephones a, .telephones a:hover, .telephones a:active, .telephones a:visited {
  color: #ffffff;
  text-decoration: none;
}

.call-to-order{
  margin-top: 4%;
}

header .content {
  background: url('../img/header_content_background.png') no-repeat 0 0;
}


.default header {
  background: url('../img/default_header_background.png') repeat-x 0 0;
  height: 84px;
  overflow: hidden;
}

.default header h2{
  color:#ffffff;
}

h2{
  margin: 15px 20px;
}

.primary-area{
  background:green;
  padding-bottom:20px;
  background: url('../img/primary_area_background.jpg') no-repeat 0 0;
  -webkit-box-shadow: inset 0px -12px 10px rgba(255, 255, 255, 0.6);
  -moz-box-shadow:   inset 0px -12px 10px rgba(255, 255, 255, 0.6);
  box-shadow:       inset  0px -12px 10px rgba(255, 255, 255, 0.6);
}

.text3d{
text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}
.awesome-headline{
  text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
                 10px 20px 5px rgba(0,0,0,0.05),
                 -10px 20px 5px rgba(0,0,0,0.05);
}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}


/*
=============================================
Features list
=============================================
*/

.features{
  position: relative;
  height: 100%;
  width: 390px;
  height: 425px;
}

.features ul{
  position:absolute;
  bottom:0;
  margin: 0;
}
.features ul li{
  display: block;
  width: 400px;
  padding: 13px 0 12px 50px;  
  margin: 7px 0;
  color: #ffffff;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 130%;
}

.feature1, .feature2, .feature3, .feature4, .feature5, .feature6{
  background: url('../img/features_list_background.png') no-repeat #003399;
}

.feature1{background-position: -5px -8px;}
.feature2{background-position: -5px -64px;}
.feature3{background-position: -5px -124px;}
.feature4{background-position: -5px -180px;}
.feature5{background-position: -5px -236px;}
.feature6{background-position: -5px -294px;}

/*
=============================================
End Features list
=============================================
*/

/*
=============================================
Contact form
=============================================
*/

.wrap-contact-form{
  /*text-align: center;*/
  position: relative;
  padding: 10px;
  margin-top: 35px;
  width: 390px;
  height: 390px;
  -webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.9);
  -moz-box-shadow:    0px 0px 10px rgba(50, 50, 50, 0.9);
  box-shadow:         0px 0px 10px rgba(50, 50, 50, 0.9);
  
}

.contact-form {
  position: relative;
  width: 100%;
  height: 100%;
  background: url('../img/form_striped_background.png') repeat-x 0 0;
  /*z-index: 2;*/
}
.contact-form h3 {
  margin-bottom: 0;

}
.contact-form span{
  font-size: 120%;
}

.contact-form .form-title {
  /*margin-bottom: 10px;*/
}

.contact-form input{
  /*padding: 20px 15px;*/
  margin-top: 20px;
  font-size: 130%;
}

.arrow {
    position: absolute;
    background: url('../img/arrow_right.png') no-repeat 0 88%;
    width: 52px;
    height:58px;
    z-index: 8;
    top: 75%;
    left: -4px;
}
/*
=============================================
END Contact form
=============================================
*/


/*
=============================================
Numbered list
=============================================
*/

ol {
    margin-top: 10px;
    margin-bottom: 0;
    display: block;
    padding: 0 0 10px 36px;
    list-style: none;
    overflow: hidden;
    counter-reset: numList;
    font-size: 120%;
}
ol li {
    margin-top: 10px;
    position: relative
}
ol li:before {
    counter-increment: numList;
    content: counter(numList);
    
    float: left;
    position: absolute;
    left: -36px;
    
    font: bold 12px sans-serif;
    text-align: center;
    color: #fff;
    line-height: 18px;
    
    width: 18px; height: 18px;
    background: #0d83ce;
    
    -moz-border-radius: 999px;
    border-radius: 999px
}

/*
=============================================
END numbered list
=============================================
*/

.advantages .left{
  background: url('../img/hands.jpg') no-repeat 0 0;
  padding-bottom: 20px;
}


/*
=============================================
Special Offer
=============================================
*/

.special_offer {
  position: relative;
  background: url('../img/special_offer.jpg') no-repeat 100% 0 #ffffff;
  height: 500px;
}
.special_offer .left{
  position: absolute;
  background: url('../img/special_offer_left_background.png') no-repeat 100% 0 #ffffff;
  height: 250px;
  width: 578px;
  padding-top:250px;
}

.special_offer .left p{
  margin-left: 25px;
  color:#ffffff;
  line-height: 150%;  
}

.text-large {
  font-size: 250%;
}

.text-small {
    font-size: 70%;
}

.special_offer .action {
  width: 492px;
  height: 231px;
  position: absolute;
  left:12%;
  top:  1%;
  z-index: 2;
  background: url('../img/action.png') no-repeat 0 0;
}

.special_offer ul {
  font-size: 140%;
  color: rgb(217, 232, 235);
  padding-left: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.special_offer ul li {
  margin-bottom: 5px;
}

.special_offer p {
  font-size: 150%;
  font-weight: bold;
  width: 90%;
  margin-top: 30px;
  background: rgba(255, 255, 255, 0.05);
  -moz-border-radius: 15px;
  border-radius: 15px;
}


/*
=============================================
END Special Offer
=============================================
*/

.nav-tabs{
  border-bottom: 1px solid #336699;
  margin-bottom: 0px;
}
.nav-tabs .active>a,.nav-tabs .active>a:hover{
  background: #336699;
  color: #ffffff;
}
.nav-tabs li>a:hover{
  background: #336699;
  color: #ffffff;
  border-bottom: 1px solid #336699;
}

.tab-content{
  border-top: 5px solid #336699;
}

.table-sro{
  padding: 10px;
  background: #E9E9E9;
}

.table-sro tr > .first-line td{
  border-top:none;
}

.table-sro td{
  border-bottom: 1px solid #d5d5d5;
}

.table-sro .left h4{
  margin: 5px 0;
}

.table-sro .right{
  background: #0093BE;
  color: #ffffff;
  border-color: #0E7ABB;
  text-align: center;
  vertical-align: middle;
}
.table-sro .right .cost{
  font-size: 200%;
}

/*Mobile Safari telephones fix*/
.cost a {color: #ffffff;}

.table-sro .right small {
  font-size: 100%;
}


.info{
  background: url('../img/info_content_background.png') 0 0;
}

.info header {
  background: url('../img/info_header_background.png') repeat-x 0 0;
  height: 111px;
  width: 100%;
  overflow: hidden;
}

.info .item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  border-top: 1px solid rgba(211, 211, 211, 1);
  height: 100%;
}
.info .item-first{
  border-top: none;
}

.info .infoleft{
  height: 225px;
  overflow: hidden;
  padding: 5px 5px 5px 25px;

}

.info .inforight{
  background: url('../img/info_right_background.png') no-repeat 0 0;
  height: 225px;
  overflow: hidden; 
  padding: 5px 5px 5px 45px;
  color: #ffffff;
}
.info .inforight p{
  font-size: 170%;
  line-height: normal;

}
.info .inforight .small{
  font-size: 100%;
  padding-bottom: 5px;
}

/*
=============================================
Partners
=============================================
*/

.partners{
  background: url('../img/partners_background.jpg') no-repeat 0 0;
}

.partners .partners-list {
  padding-bottom: 20px;
  padding-top: 50px;
}

.partner1, .partner2, .partner3, .partner4, .partner5, .partner6, .partner7, .partner8, .partner9, .partner10, .partner11 {
  height: 128px;
  background: url('../img/partners_sprite.jpg') no-repeat;
  background-position:  50% 0;
  margin-bottom: 30px;
}

.partner1 {background-position:  50% -128px}
.partner2 {background-position:  50% -256px}
.partner3 {background-position:  50% -384px}
.partner4 {background-position:  50% -512px}
.partner5 {background-position:  50% -640px}
.partner6 {background-position:  50% -768px}
.partner7 {background-position:  50% -896px}
.partner8 {background-position:  50% -1024px}
.partner9 {background-position:  50% -1156px}
.partner10 {background-position:  50% -1284px}
.partner11 {background-position:  50% 0px}

.partners p {
  font-size: 70%;
  padding-left: 10px;
  padding-right: 10px;
  line-height: normal;
  margin-top: 95px;
  color:#333333;
}

/*
=============================================
END Partners
=============================================
*/

.about-company{
  padding-bottom: 10px;
}
.about-company .left{
  padding-top: 60px;
}

.about-company a, .about-company a:hover, .about-company a:active, .about-company a:visited{
  font-size: 14px;
  color: #333;
  text-decoration: none;
  font-weight: normal;
}

#footer{
  background: url('../img/footer_background.jpg') no-repeat 0 0;
  height: 120px;
}
